/*
body {
            font-family: "Noto Sans", sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            
            
            
            color: #000000;
            overflow: hidden;
        }

        


        .top_bar {
            height: 10vh;
            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10; 
            padding: 1.5vh 5vw;
            box-sizing: border-box;
            background-color: rgb(14, 0, 118);
            
            border-bottom: 0.1vh solid #ffffff;
        }

        .logo {
            display: flex;
            flex-direction: row;
            font-size: 4vh;
            font-weight: 800;
        }

        .vo {
            color: rgb(255, 111, 0);
        }

        .id {
            color: #ffffff;
        }

        .docs {
            color: #07db00;
        }
        

        .emblem{
            height: 10vh;
            width: 10vh;
            filter: invert();
        }

        .nav_links {
            display: flex;
            gap: 2vw;
        }
        
        .nav_links a {
            text-decoration: none;
            color: #f4f4f4;
            font-size: 1.8vh;
            font-weight: 600;
            transition: color 0.3s ease;
        }
        
        .nav_links a:hover {
            color: rgb(255, 98, 0);
        }

        .mainview {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5vw;
            padding: 3vh 5vw;
            margin-top: 10vh;
            align-items: center;
            width: 90vw;
            max-width: 1400px;
            margin-left: auto;
            margin-right: auto;
            min-height: 90vh;
            position: relative; 
            z-index: 2; 
        }
        
        .info-section {
            
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .welcome {
            color: #ff6a00;
            font-size: 8vh;
            font-weight: 200;
            line-height: 1.1;
            border-bottom: 0.3vh solid rgb(14, 0, 118);
            padding-bottom: 2vh;
            margin-bottom: 3vh;
        }
        
        .hero-slogan {
            font-size: 2.5vh;
            color: rgb(14, 0, 118);
            margin-top: 2vh;
            margin-bottom: 4vh;
        }
        
        .privileges {
            font-size: 2vh;
            color: #28d800;
            line-height: 1.6;

        }
        
        .privileges h3 {
            font-size: 3vh;
            color: rgb(255, 115, 0);
            margin-bottom: 2vh;
            background-color: rgb(17, 0, 142);
            width: 12vw;
            padding: 2vh;
            border-radius: 100%;
        }
        
        .privileges ul {
            list-style: none;
            padding-left: 0;
        }
        
        .privileges li {
            position: relative;
            padding-left: 2.5vw;
            margin-bottom: 1.5vh;
        }
        
        .privileges li::before {
            content: '>';
            position: absolute;
            left: 0;
            color: rgb(0, 0, 0);
            font-weight: 800;
            font-size: 2.5vh;
        }

        .cbox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 3vh;
        }

        .section-title {
            font-size: 4vh;
            font-weight: 600;
            color: #ff6a00;
            text-align: center;
            margin-bottom: 1vh;
        }
        
        .rlink {
            text-decoration: none;
            width: 100%;
        }

        .reg_box {
            min-height: 20vh;
            width: 100%;
            background-color: rgb(17, 0, 142);
            backdrop-filter: blur(5px); 
            box-shadow: 0 0.5vh 1.5vh rgba(0, 0, 0, 0.3);
            border: 0.1vh solid #333;
            border-radius: 1vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2.5vh 3vw;
            box-sizing: border-box;
            transition: box-shadow 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
            cursor: pointer;
        }

        .reg_box:hover {
            background-color: rgba(1, 0, 87, 0.806);
        }

        .symb {
            height: 7vh;
            width: 7vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .symb svg {
            width: 7vh;
            height: 7vh;
            object-fit: contain;
            color: #f4f4f4;
        }

        .reg, .log {
            color: #f4f4f4;
            font-size: 2.5vh;
            font-weight: 400;
            margin-top: 1.5vh;
        }

        .desc {
            color: #ff8800;
            font-size: 1.8vh;
            margin-top: 0.5vh;
            text-align: center;
        }
        
        @media (max-width: 900px) {
            .mainview {
                grid-template-columns: 1fr;
                width: 90vw;
            }
            .info-section {
                text-align: center;
                align-items: center;
            }
            .privileges li {
                padding-left: 5vw;
                text-align: left;
            }
        }

*/




/*        body {
            font-family: "Share Tech", sans-serif;
            margin: 0;
            padding: 0;
            background-color: #141414;
            color: #f4f4f4;
            overflow: hidden;
        }

        #blockchain-bg {
            position: fixed;
            top: 0; 
            width: 100vw;
            height: 100vh;
            z-index: 1; 
        }

        .top_bar {
            height: 10vh;
            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10; 
            padding: 1.5vh 5vw;
            box-sizing: border-box;
            background-color: rgb(0, 0, 0);
            box-shadow: 0 0.5vh 1.5vh rgba(0, 0, 0, 0.5);
            border-bottom: 0.1vh solid #333;
        }

        .logo {
            display: flex;
            flex-direction: row;
            font-size: 4vh;
            font-weight: 800;
        }

        .vo {
            color: red;
        }

        .id {
            color: #f4f4f4;
        }

        .docs {
            color: #f4f4f4;
        }
        
        .nav_links {
            display: flex;
            gap: 2vw;
        }
        
        .nav_links a {
            text-decoration: none;
            color: #f4f4f4;
            font-size: 1.8vh;
            font-weight: 600;
            transition: color 0.3s ease;
        }
        
        .nav_links a:hover {
            color: red;
        }

        .mainview {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5vw;
            padding: 3vh 5vw;
            margin-top: 10vh;
            align-items: center;
            width: 90vw;
            max-width: 1400px;
            margin-left: auto;
            margin-right: auto;
            min-height: 90vh;
            position: relative; 
            z-index: 2; 
        }
        
        .info-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .welcome {
            color: #f4f4f4;
            font-size: 8vh;
            font-weight: 600;
            line-height: 1.1;
            border-bottom: 0.3vh solid red;
            padding-bottom: 2vh;
            margin-bottom: 3vh;
        }
        
        .hero-slogan {
            font-size: 2.5vh;
            color: #aaa;
            margin-top: 2vh;
            margin-bottom: 4vh;
        }
        
        .privileges {
            font-size: 2vh;
            color: #ccc;
            line-height: 1.6;
        }
        
        .privileges h3 {
            font-size: 3vh;
            color: red;
            margin-bottom: 2vh;
        }
        
        .privileges ul {
            list-style: none;
            padding-left: 0;
        }
        
        .privileges li {
            position: relative;
            padding-left: 2.5vw;
            margin-bottom: 1.5vh;
        }
        
        .privileges li::before {
            content: '>';
            position: absolute;
            left: 0;
            color: red;
            font-weight: 800;
            font-size: 2.5vh;
        }

        .cbox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 3vh;
        }

        .section-title {
            font-size: 4vh;
            font-weight: 600;
            color: #f4f4f4;
            text-align: center;
            margin-bottom: 1vh;
        }
        
        .rlink {
            text-decoration: none;
            width: 100%;
        }

        .reg_box {
            min-height: 20vh;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.8); 
            backdrop-filter: blur(5px); 
            box-shadow: 0 0.5vh 1.5vh rgba(0, 0, 0, 0.3);
            border: 0.1vh solid #333;
            border-radius: 1vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2.5vh 3vw;
            box-sizing: border-box;
            transition: box-shadow 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
            cursor: pointer;
        }

        .reg_box:hover {
            transform: translateY(-0.5vh);
            border-color: red;
            box-shadow: 0 0 3vh rgba(255, 0, 0, 0.3);
        }

        .symb {
            height: 7vh;
            width: 7vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .symb svg {
            width: 7vh;
            height: 7vh;
            object-fit: contain;
            color: #f4f4f4;
        }

        .reg, .log {
            color: #f4f4f4;
            font-size: 2.5vh;
            font-weight: 400;
            margin-top: 1.5vh;
        }

        .desc {
            color: #aaa;
            font-size: 1.8vh;
            margin-top: 0.5vh;
            text-align: center;
        }
        
        @media (max-width: 900px) {
            .mainview {
                grid-template-columns: 1fr;
                width: 90vw;
            }
            .info-section {
                text-align: center;
                align-items: center;
            }
            .privileges li {
                padding-left: 5vw;
                text-align: left;
            }
        }

*/

:root{
    --main_c : white;
    --font_c : black;
    --sec_c : rgb(5, 0, 104);
    --sec2_c : white;

}


body{
    background-color: var(--main_c);
    color: var(--font_c);
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;


}

.top_bar1{
    background-color: var(--sec_c);
    height: 12vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: solid rgb(0, 183, 255) 1px;
    
    display: flex;
    

}


.ebox{
    display: flex;
    align-items: center;
    width: 30vw;
    
   
}

.cbox{
    display: flex;
    align-items: center;
    width: 30vw;
    justify-content: center;
    color: rgb(255, 0, 0);
    
}


.vlogo {
        display: flex;
        flex-direction: row;
        font-size: 4vh;
        font-weight: 800;
        }

.vo {
     color: rgb(255, 115, 0);
    }

.id {
    color: #f4f4f4;
    }

.docs {
    color: #00ff00;
    }
        


.emblem{
    height: 11vh;
    width: 11vh;
    filter: invert();
}


.sbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3vh;
    width: 40vw;
   
    
    
}



.top_bar2{
    background-color: var(--sec2_c);
    height: 5vh;
    width: 100vw;
    box-shadow: 0 0 5px black;
    position: fixed;
    top: 12vh;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 2;
}

.rbox{
    width: 65%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 1vh;
   
}


.runner {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-text 10s linear infinite;
  color: rgb(255, 119, 0);
  font-weight: 600;
}

@keyframes scroll-text {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}


.trbox{
    padding-left: 2vh;
    
}

.home_img{
    height: 4vh;
    width: 4vh;
}

.empty{
    height: 17vh;
}

.main1{
    height: 88vh;
    display: flex;

}

.talking1{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 88vh;
    
    background-color: var(--sec_c);
    
    
}

.T1{
    height: 32vh;
    width: 100%;
    
}

.banner{
    height: 32vh;
    width: 100%;
}

.T2{
    height: 61.6vh;
    width: 100%;
    
    padding: 2vh;
    display: flex;
    flex-direction: column;
}

.T2a{
    height: 30.8vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}



.T2a1{

    height: 15vh;
    width: 40%;
    box-shadow: 0 0 5px black;
    border: 1px solid white;
    border-radius: 2vh;
    padding: 1vh;
    color: white;
    display: flex;
    align-items: center;
    gap: 5vh;
}



.T2a1:hover{
    background-color: white;
    color: black;
    filter: none;
     
}




.T2logo{
    width: 30%;
    height: 100%;
    
}




.T2txt{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    
}


.txtH{
    font-weight: 600;
}


.form-box{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px black;
    width: 35%;
    padding-top: 2vh;
    padding-left: 3vh;
    gap: 7vh;
}

.img_con{
    display: flex;
    
}

.log_logo{
    height: 12vh;
    width: 12vh;
    filter: opacity(75%);
    margin-left: 12vw;
    margin-bottom: 2vh;
}

.log_title{
    font-size: 6vh;
    color: #444;
}

.form-box form {
            display: flex;
            flex-direction: column;
            gap: 4vh;
        }
        
        .form-box label {
            font-size: 2.5vh;
            color: #000000;
            margin-bottom: -1vh; /* Position label closer to input */
        }
        
        .form-box input {
            font-family: "Share Tech", sans-serif;
            font-size: 2vh;
            color: #000000;
            width: 75%;
            border: transparent;
            border-bottom: 0.1vh solid #444;
            
            padding: 1.5vh 1vw;
            transition: border-color 0.3s ease, box-shadow 0.3s ease;   
        }
        
        .form-box input:focus {
            outline: none;
            border-color: rgb(47, 0, 255);
            box-shadow: 0 0 1vh rgba(255, 0, 0, 0.2);
        }
        
        .sbtn_con{
            display: flex;
            margin-left: 7vw;   
        }

        .form-box button {
            font-family: "Share Tech", sans-serif;
            font-size: 2.2vh;
            font-weight: 600;
            color: white;
            background-color: #000599;
            border: none;
            border-radius: 0.5vw;   
            padding: 1.5vh 1vw;
            cursor: pointer;
            margin-top: 2vh;
            transition: background-color 0.3s ease, transform 0.3s ease;
            width: 50%;
        }
        
        .form-box button:hover {
            background-color: #00059997;
            
        }



.main2{
    height: 100vh;
    width: 100%;
}
        

