:root{
    --main_c : white;
    --font_c : black;
    --sec_c : rgb(5, 0, 104);
    --sec2_c : white;

}


body{
    background-color: var(--main_c);
    color: var(--font_c);
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;


}

.top_bar1{
    background-color: var(--sec_c);
    height: 12vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: solid rgb(0, 183, 255) 1px;
    
    display: flex;
    

}


.ebox{
    display: flex;
    align-items: center;
    width: 30vw;
    
   
}

.cbox{
    display: flex;
    align-items: center;
    width: 30vw;
    justify-content: center;
    color: rgb(255, 0, 0);
    
}


.vlogo {
        display: flex;
        flex-direction: row;
        font-size: 4vh;
        font-weight: 800;
        }

.vo {
     color: rgb(255, 115, 0);
    }

.id {
    color: #f4f4f4;
    }

.docs {
    color: #00ff00;
    }
        


.emblem{
    height: 11vh;
    width: 11vh;
    filter: invert();
}


.sbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3vh;
    width: 40vw;
   
    
    
}



.top_bar2{
    background-color: var(--sec2_c);
    height: 5vh;
    width: 100vw;
    box-shadow: 0 0 5px black;
    position: fixed;
    top: 12vh;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 2;
}

.rbox{
    width: 65%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 1vh;
   
}


.runner {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-text 10s linear infinite;
  color: rgb(255, 119, 0);
  font-weight: 600;
}

@keyframes scroll-text {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}


.trbox{
    padding-left: 2vh;
    
}

.home_img{
    height: 4vh;
    width: 4vh;
}

.empty{
    height: 17vh;
}

.main1{
    height: 88vh;
    display: flex;

}

.talking1{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 88vh;
    
    background-color: var(--sec_c);
    
    
}

.T1{
    height: 32vh;
    width: 100%;
    
}

.banner{
    height: 32vh;
    width: 100%;
}

.T2{
    height: 61.6vh;
    width: 100%;
    
    padding: 2vh;
    display: flex;
    flex-direction: column;
}

.T2a{
    height: 30.8vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}



.T2a1{

    height: 15vh;
    width: 40%;
    box-shadow: 0 0 5px black;
    border: 1px solid white;
    border-radius: 2vh;
    padding: 1vh;
    color: white;
    display: flex;
    align-items: center;
    gap: 5vh;
}



.T2a1:hover{
    background-color: white;
    color: black;
    filter: none;
     
}




.T2logo{
    width: 30%;
    height: 100%;
    
}




.T2txt{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    
}


.txtH{
    font-weight: 600;
}


.form-box{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px black;
    width: 35%;
    padding-top: 2vh;
    padding-left: 3vh;
    gap: 7vh;
}

.img_con{
    display: flex;
    
}

.log_logo{
    height: 12vh;
    width: 12vh;
    filter: opacity(75%);
    margin-left: 12vw;
    margin-bottom: 2vh;
}

.log_title{
    font-size: 6vh;
    color: #444;
}

.form-box form {
            display: flex;
            flex-direction: column;
            gap: 4vh;
        }
        
        .form-box label {
            font-size: 2.5vh;
            color: #000000;
            margin-bottom: -1vh; /* Position label closer to input */
        }
        
        .form-box input {
            font-family: "Share Tech", sans-serif;
            font-size: 2vh;
            color: #000000;
            width: 75%;
            border: transparent;
            border-bottom: 0.1vh solid #444;
            
            padding: 1.5vh 1vw;
            transition: border-color 0.3s ease, box-shadow 0.3s ease;   
        }
        
        .form-box input:focus {
            outline: none;
            border-color: rgb(47, 0, 255);
            box-shadow: 0 0 1vh rgba(255, 0, 0, 0.2);
        }
        
        .sbtn_con{
            display: flex;
            margin-left: 7vw;   
        }

        .form-box button {
            font-family: "Share Tech", sans-serif;
            font-size: 2.2vh;
            font-weight: 600;
            color: white;
            background-color: #000599;
            border: none;
            border-radius: 0.5vw;   
            padding: 1.5vh 1vw;
            cursor: pointer;
            margin-top: 2vh;
            transition: background-color 0.3s ease, transform 0.3s ease;
            width: 50%;
        }
        
        .form-box button:hover {
            background-color: #00059997;
            
        }



.main2{
    height: 100vh;
    width: 100%;
}
        

.msg {
    color: red;
} 